<%- include('./buyHeader')-%>
<body>
    

<h2 >Welcome to the purchase menu</h2>
<h4>User ID: <span id="userid"><%= user._id %></span></h4>
<div id="errorbuy--container" class="table-responsive">
</div>
<div id="table-buy-container" class="table-responsive">

</div>

<div id="cart-container">
    <table id="cart" class="table table-dark">
        <tr><th>Name</th> <th>Price</th> <th>Subtotal</th>  <th>Image</th> <th>Quantity</th> </tr>
        <%user.cart.products.forEach(function(product){%>
            <tr>
                <td><%=product.title%></td>
                <td><%=product.price%></td>
                <td><%=product.price * product.amount || product.price%></td>
                <td><img class="img-responsive" src="<%=product.thumbnail%>" alt="<%=product.title%>"></td>
                <td><%=product.amount||1%></td>
            </tr>
        <%});  %> 
    </table>
    

</div>
<div class="container">
    <form class="form" action="/finalizeBuy" method="post">
        <div id="total">Total Price : <%= user.cart.total | 0 %> </div>
        <input type="submit" value="Finalizar Compra">
    </form>
</div>

</body>

